//Footer
.footer-main {
  @include back-img;
  background-image: url("../img/foo-back.png");
  background-attachment: fixed;
  position: relative;
  padding: size(80) 0 size(110) 0;
  &:after {
	content: '';
	display: block;
	@include overlay;
	background-color: rgba(11, 83, 123, 0.8);
	z-index: 3;
  }
  .foo-form-wrap, .foo-container {
	position: relative;
	z-index: 4;
  }
  //@media (max-width: 1600px) {
	//div.wpcf7 input[type="submit"] {
	//  background-image: none;
	//  padding: 5px;
	//}
  //}
  @media (max-width: 1600px) and (min-width: 1201px){
	div.wpcf7 input[type="submit"] {
	  background-image: none;
	  padding: 5px;
	  @include h6;
	}
  }
}
.menu-border-top {
  padding-top: size(22);
  border-top: 2px solid #ffffff;
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
}
footer {
  .logo {
	width: 100%;
	@include d-center;
	margin-bottom: size(23);
	img {
	  max-height: size(112);
	}
  }
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  @include foo-menu;
	  position: relative;
	  color: #ffffff !important;
	  padding-right: 15px;
	  &:before {
		position: absolute;
		content: '>';
		top: 4px;
		color: #ffffff;
		font-size: size(18);
		line-height: size(20);
		display: inline-block;
		right: 0;
	  }
	}
  }
  .contact-list li a {
	display: flex;
	align-items: flex-start;
	padding-right: 0;
	&:before {
	  display: none;
	}
	svg {
	  width: size(18);
	  margin-left: size(19);
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include h5;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 15px;
}
.foo-form-wrap {
  padding: size(40) 0;
}
.to-top-text {
  color: #ffffff;
  font-size: size(18);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
}
#go-top {
  position: absolute;
  top: -25px;
  right: size(120);
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  @media (max-width: 576px) {
	right: 50% !important;
	left: 50% !important;
  }
}
.to-top-wrapper {
  @include d-center;
  width: size(93);
  height: size(93);
  border: 2px solid $blue-main;
  background-color: #ffffff;
  padding: size(16) size(20);
  margin-bottom: size(14);
  border-radius: 50%;
  img {
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  @media (max-width: 1600px) {
	width: size(63);
	height: size(63);
	padding: size(7) size(12);
  }
}
.foo-form-title {
  @include h3;
  color: #ffffff;
  text-align: center;
  margin-bottom: size(30);
}
.foo-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: size(20) 0;
  .social-link {
	@include d-center;
	margin: 0 5px;
	&:first-child {
	  margin: 0 0 0 5px;
	}
	&:last-child {
	  margin: 0 5px 0 0;
	}
	img {
	  max-height: size(37);
	}
  }
}
