//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
.contact-form-wrap {
  div.wpcf7 input,
  div.wpcf7 textarea,
  div.wpcf7 select {
	margin-bottom: 14px !important;
  }
}
div.wpcf7 textarea {
  height: size(114);
  padding: 23px 17px !important;
}
.textarea-col {
  ::placeholder {
	color: rgba(36, 60, 126, 0.5);
	font-size: size(22);
	line-height: size(24);
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: rgba(36, 60, 126, 0.5);
	font-size: size(22);
	line-height: size(24);
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
  background-image: url("../iconsall/form-submit.png");
  @media (max-width: 1920px) {
	font-size: size(20);
	line-height: size(20);
  }
  @media (max-width: 1720px) {
	font-size: size(18);
	line-height: size(20);
  }
  @media (max-width: 1600px) {
	font-size: size(24);
	line-height: size(26);
  }
}
.form-title, .form-subtitle {
  color: $blue-main;
  text-align: center;
  margin-bottom: 14px;
}
.form-title {
  @include h3;
  font-weight: 500;
}
.form-subtitle {
  @include h4;
  font-weight: 400;
}
.pop-great {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  &.show-form {
	pointer-events: all;
	z-index: 9999999;
  }
}
.float-form {
  position: fixed;
  top: 10%;
  width: size(500);
  z-index: 99959599599;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  @media (max-width: 576px) {
	width: calc(100% - 30px);
  }
  &.show-float-form {
	left: 3rem;
	opacity: 1;
	pointer-events: all;
	transform: translateX(0);
	@media (max-width: 576px) {
	  left: 15px;
	}
  }
}
.contact-form-wrap, .post-form-col, .pop-form {
  @include d-center;
  flex-direction: column;
  padding: size(30) size(64) size(10) size(64);
  border-radius: size(30);
  background-color: $blue-light;
  height: 100%;
  div.wpcf7 input[type="submit"] {
	border-color: $blue-main !important;
  }
  @media (max-width: 1600px) {
	padding: size(30) size(24) size(10) size(24);
  }
  @media (max-width: 992px) {
	margin-bottom: 2rem;
  }
}
.pop-form {
  padding: size(67) size(25) size(20) size(25);
}
.post-form-col {
  position: sticky;
  top: 0;
  padding: size(67) size(25) size(20) size(25);
  height: auto;
  @media (max-width: 992px) {
	margin-top: 2rem;
  }
}
//Form block
.form-basic-block, .woocommerce form .form-row, .woocommerce form .form-row {
  input, select, textarea {
	height: size(56);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.09);
	border-radius: size(28);
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding: size(10) size(24);
	@include base-text;
	font-weight: 400;
	color: $blue-dark;
	width: 100%;
	&::placeholder {
	  @include base-text;
	  font-weight: 400;
	  color: $blue-dark;
	}
	&:focus {
	  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.39) !important;
	}
  }
  textarea {
	height: 160px;
  }
  .col-checkbox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: size(29);
	label {
	  margin: 0 17px;
	}
  }
  input[type="checkbox"] {
	width: 21px;
	height: 21px;
	border: 1px solid #12537b;
	background-color: #ffffff;
	box-shadow: unset;
  }
  .input-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: size(38);
	label {
	  flex-grow: 1;
	}
  }
  label {
	@include base-text;
	font-weight: 500;
	color: $blue-dark;
	margin-bottom: size(17);
  }
}
.woocommerce-billing-fields, .woocommerce-additional-fields__field-wrapper {
  .form-row {
	flex-direction: column;
	margin-bottom: 1rem !important;
  }
}
.submit-link {
  @include d-center;
  @include submit-style;
  text-align: center;
  color: #ffffff !important;
  padding: 10px 60px;
  @media (max-width: 768px) {
	margin-bottom: 1rem;
  }
}
.submit-link-arrow {
  background-image: url("../iconsall/form-submit.png");
  background-repeat: no-repeat;
  background-size: size(40);
  background-position: 9px center;
  padding: 10px 60px 10px 100px;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 2px center;
  }
}
