header {
  padding: size(10) 0;
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  &.fixed {
	.logo img {
	  max-height: size(50);
	}
  }
  .hamburger {
	padding: 0 0 0 15px;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: $blue-main;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	border-radius: 0;
  }
  .hamburger-inner::before, .hamburger-inner::after {
	width: 30px;
  }
  .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	width: 40px !important;
  }
}
.bread-row {
  margin-top: size(30);
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include base-text;
  color: #12537b;
  li, li a {
	@include base-text;
	color: #12537b;
	transition: color ease-out .5s;
  }
  a:hover {
	color: $blue-light;
  }
}
.langs-wrap {
  @include d-center;
  padding: 0;
  li {
	padding: 0 10px;
	position: relative;
	@include d-center;
  }
  &:hover {
	li a {
	  color: $blue-dark;
	  transition: color .5s;
	}
  }
  li.active {
	display: none;
  }
  li a {
	@include h5;
	font-weight: 500;
	color: #12537b;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: color .5s;
	&:after {
	  content: '|';
	  left: -1px;
	  position: absolute;
	  @media (max-width: 450px) {
		//top: 10%;
	  }
	}
	@media (max-width: 450px) {
	  font-size: size(18);
	  line-height: size(18);
	}
  }
  li:last-child a {
	&:after {
	  content: '';
	}
  }
  .languages {
	@include d-center;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99999;
  height: auto;
  padding: size(30) size(35);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 30px 30px;
  background-color: #ffffff;
  min-width: 240px;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	li {
	  @include d-center;
	  margin-bottom: size(20);
	  a {
		position: relative;
		@include d-center;
		@include base-text;
		color: #929191;
		text-align: center;
		padding: 0 size(25);
		transition: color ease-out .5s;
		&:hover {
		  color: $blue-main;
		  &:before {
			opacity: 1;
			transition: opacity ease-out .5s;
		  }
		}
		&:before {
		  position: absolute;
		  right: 0;
		  content: url("../iconsall/before-menu.png");
		  opacity: 0;
		}
	  }
	}
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(103);
	@media (max-width: 1600px) {
	  max-height: size(65);
	}
	@media (max-width: 450px) {
	  max-height: size(40);
	}
  }
}
.tel-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
  img {
	margin: 0 15px;
	width: size(35);
  }
}
.tel-number, .tel-delimetr {
  color: $blue-main;
  font-size: size(27);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-light;
  }
}
.tel-delimetr {
  margin: 0 10px;
  height: size(23);
  width: 1px;
  background-color: $blue-main;
}
.reg-col {
  padding: 0;
  svg {
	width: size(38);
	transition: fill ease-out .5s;
	@media (max-width: 450px) {
	  width: size(28);
	}
	&:hover {
	  fill: $blue-main;
	}
  }
}
.socials-fix {
  position: fixed;
  right: size(37);
  bottom: size(66);
  z-index: 995;
  display: flex;
  flex-direction: column;
  .social-link {
	margin: 8px 0;
  }
  @media (max-width: 650px) {
	right: 0;
  }
}
.fixed-links {
  position: fixed;
  left: -195px;
  bottom: 20%;
  z-index: 9999;
  display: flex;
  transform: rotate(270deg);
  @media (max-width: 1600px) {
	left: -165px;
  }
}
.fixed-link {
  @include d-center;
  border-radius: 0 0 size(23) size(23);
  background-color: $blue-light;
  color: #ffffff;
  text-align: center;
  font-size: size(22);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(19);
  padding: size(30) size(25) size(20) size(25);
  margin: 0 7px;
  width: 200px;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $blue-main;
  }
  @media (max-width: 1600px) {
	font-size: size(16);
	line-height: size(14);
	width: 160px;
	padding: size(20) size(15) size(10) size(15);
  }
}
