//Faq
.faq-block-title {
  @include h4;
  color: $blue-main;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: size(30);
}
.faq {
  padding: size(40) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: size(39);
  }
  .btn:hover {
	color: $blue-main;
  }
}
.question-header.active-faq {
  background-color: #ffffff;
  .question-title {
	border-radius: size(20) size(20) 0 0;
  }
  .plus-faq {
	border-radius: size(20) 0 0;
  }
}
.question-title {
  position: relative;
  width: 100%;
  border: none;
  @include h5;
  font-weight: 500;
  color: $blue-main;
  text-align: right;
  min-height: size(78);
  border-radius: size(20);
  background-color: #f8f8f8;
  padding: size(20) size(29) size(20) size(85);
  @media (max-width: 576px) {
	@include h6;
  }
}
.question-header {
  border-radius: size(20);
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.09);
}
.plus-faq {
  @include d-center;
  content: '+';
  width: size(70);
  min-height: size(78);
  height: 100%;
  background-color: $blue-light;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  @include h3;
  color: $blue-main;
  font-weight: 500;
  border-radius: size(20) 0 0;
  text-align: center;
  transition: background-color, color .5s;
}
.answer-body {
  padding: size(31) size(27) size(78) size(55);
}
.faq-block-item {
  margin-bottom: 40px;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(32);
	height: size(32);
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 3rem;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
  .base-slider {
	padding-top: 1rem;
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
	border-radius: size(30);
  }
}
//Post card
.post-col {
  margin-bottom: 36px;
  padding: 0 10px;
  @media (max-width: 576px) {
	padding: 0 15px;
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}
.post-item-text {
  @include base-text;
  color: $text-main !important;
  margin-bottom: 7px;
  text-align: center;
}
.post-link {
  @include d-center;
  color: #243c7e;
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-light;
  }
}
.post-item-title {
  font-size: size(22);
  line-height: size(24);
  color: $blue-dark;
  text-align: center;
  font-family: $assistant;
  font-weight: 600;
  @media (max-width: 1600px) and (min-width: 993px){
	font-size: size(18);
	line-height: size(20);
  }
}
.post-item-image {
  position: relative;
  @include d-center;
  width: 100%;
  margin-bottom: size(29);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  border-radius: size(30);
  transition: box-shadow ease-out .5s;
  &:after {
	content: '';
	display: block;
	padding-bottom: 110%;
  }
  &:hover {
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.29);
	.post-image-card {
	  transform: scale(1.1, 1.1);
	}
  }
  .post-image-card {
	position: absolute;
	min-width: 100%;
	max-width: unset;
	min-height: 100%;
	transition: transform ease-out .5s;
  }
}
.post-item-title-wrap {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding: size(20);
  @media (max-width: 1600px) and (min-width: 993px){
	padding: 10px;
  }
}
.post-item-content {
  flex-grow: 1;
  padding: 0 10px;
}
//Benefits block
.benefits-block {
  @include back-img;
  background-attachment: fixed;
  padding: size(110) 0;
  .page-title {
	color: #ffffff;
	text-align: center;
	margin-bottom: size(50);
  }
}
.why-item-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(60);
  .base-text {
	color: #ffffff;
	text-align: center;
	padding: 0 10px;
	font-weight: 300;
	@media (max-width: 768px) {
	  padding: 0 30px;
	}
  }
}
.why-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: size(32);
  height: size(73);
  img {
	max-height: 100%;
  }
  @media (max-width: 768px) {
	height: size(53);
  }
}
.white-link {
  @include d-center;
  height: size(77);
  border-radius: size(32);
  border: 2px solid #f8f8f8;
  background-image: url("../iconsall/arrow-white.png");
  background-size: size(54);
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
  @include h4;
  padding: size(20) size(100) size(20) size(130);
  color: #ffffff !important;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 3px center;
  }
  @media (max-width: 1600px) {
	height: size(52);
	background-size: size(34);
	padding: size(10) size(50) size(10) size(80);
	@include h5;
  }
  @media (max-width: 450px) {
	padding: size(10) size(20) size(10) size(40);
	@include h6;
  }
}
.client-logo {
  @include d-center;
  padding: 0 10px;
  img {
	max-height: size(98);
  }
}
.clients-block {
  margin: size(115) 0;
}
.partners-slider {
  margin: size(50) 20px 0 20px;
  padding: 0 10px;
}
//Team
.team-block {
  background-color: #f9f9f9;
  padding: size(90) 0 size(104) 0;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  [dir="rtl"] .slick-next {
	left: -3rem;
	@media (max-width: 1075px) {
	  left: -1.5rem;
	}
	@media (max-width: 576px) {
	  left: calc(50% - 2rem);
	}
  }
  [dir="rtl"] .slick-prev {
	right: -3rem;
	@media (max-width: 1075px) {
	  right: -1.5rem;
	}
	@media (max-width: 576px) {
	  right: calc(50% - 2rem);
	}
  }
  @media (max-width: 576px) {
	[dir="rtl"] .slick-next, [dir="rtl"] .slick-prev {
	  top: calc(100% + 1rem);
	}
  }
}
//Product card
.product-col {
  margin-bottom: size(51);
}
.card-product {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  box-shadow: 0 2px 27px 3px rgba(82, 83, 83, 0.1);
  border-radius: size(30);
  background-color: #ffffff;
  overflow: hidden;
  .base-output {
	p, li {
	  font-size: size(18);
	  line-height: size(20);
	}
  }
  @media (max-width: 450px) {
	flex-wrap: wrap;
  }
  &:hover {
	.prod-img-wrap {
	  background-color: $blue-light;
	}
  }
}
.prod-img-wrap {
  background-color: $blue-main;
  padding: size(40) size(20);
  flex: 0 0 32.2%;
  max-width: 32.2%;
  @include d-center;
  flex-direction: column;
  transition: background-color ease-out .5s;
  img {
	max-height: size(80);
  }
  @media (max-width: 450px) {
	flex: 0 0 100%;
	max-width: 100%;
	padding: size(20);
  }
}
.prod-content-wrap {
  flex-grow: 1;
  padding: size(40) size(20);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .base-output {
	flex-grow: 1;
  }
  @media (max-width: 450px) {
	flex: 0 0 100%;
	max-width: 100%;
	height: auto;
  }
}
.card-prod-price {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: size(18);
}
.base-price {
  @include h4;
  color: #929191;
  text-decoration: line-through;
  padding: 0 10px;
  font-weight: 400;
}
.sale-price, .product-card-title {
  @include h4;
  color: $blue-main;
  padding: 0 10px;
  font-weight: 400;
}
.product-card-title {
  padding: 0;
  margin-bottom: size(20);
  text-align: center;
}
.card-days, .card-days-subtitle {
  @include h4;
  text-align: center;
  color: #ffffff;
}
.card-days-subtitle {
  font-weight: 600;
}
.card-days {
  font-weight: 700;
  padding-bottom: size(22);
  border-bottom: 2px solid #ffffff;
  margin-bottom: size(22);
}
