/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 2000px) {
  html {
	font-size: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 18px;
  }
  .container {
	max-width: 75%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 16px;
  }
  .contact-menu-foo {
	order: 2;
  }
  .links-footer-menu {
	order: 3;
	margin-top: 2rem;
  }
  .posts-block .post-col:last-child {
	display: none;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .posts-block .post-col:last-child {
	display: block;
  }
  .tel-number, .tel-delimetr {
	display: none;
  }
  .header-tel img {
	margin: 0;
  }
  header .container-fluid {
	max-width: 100%;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .contact-menu-foo {
	margin-top: 2rem;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .hop-hey.three-columns {
	column-count: 1;
	column-gap: unset;
  }
  .tel-wrapper {
	position: fixed;
	right: 0;
	bottom: 10px;
	z-index: 99999;
	margin: 0 !important;
	padding: 0;
	img {
	  width: 37px;
	  margin: 0;
	}
  }
}
