body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;
@import "colors";
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input[type="submit"] {
  background-image: url("../iconsall/form-submit-ltr.png");
  padding: 8px size(52) 8px size(20);
  background-position: calc(100% - 7px) center;
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="email"] {
  padding-left: size(58);
  padding-right: 7px;
  background-position: 5px center;
}
.base-link {
  padding: 5px size(60) 5px size(26);
  background-position: calc(100% - 7px) center;
  background-image: url("../iconsall/arrow-right.png");
}
.arrows-slider-base {
  [dir="rtl"] .slick-next {
	right: unset;
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	left: 3rem;
	right: unset;
  }
}
.white-link {
  background-image: url("../iconsall/arrow-white-ltr.png");
  background-position: calc(100% - 10px) center;
  padding: size(20) size(130) size(20) size(100);
  &:hover {
	background-position: calc(100% - 3px) center;
  }
  @media (max-width: 1600px) {
	padding: size(10) size(80) size(10) size(50);
  }
  @media (max-width: 450px) {
	padding: size(10) size(40) size(10) size(20);
  }
}
.foo-socials {
  .social-link {
	&:first-child {
	  margin: 0 5px 0 0;
	}
	&:last-child {
	  margin: 0 0 0 5px;
	}
	img {
	  max-height: size(37);
	}
  }
}
#go-top {
  right:unset;
  left: size(120);
  @media (max-width: 576px) {
	right: 50% !important;
	left: 50% !important;
  }
}
footer {
  li {
	a {
	  padding-right: 0;
	  padding-left: 15px;
	  &:before {
		right: unset;
		left: 0;
	  }
	}
  }
  .contact-list li a {
	svg {
	  margin-left: 0;
	  margin-right: size(19);
	}
  }
}
.question-header.active-faq {
  .question-title {
	border-radius: size(20) 0;
  }
  .plus-faq {
	border-radius: 0;
  }
}
.question-title {
  padding: size(20) size(85) size(20) size(29);
  text-align: left;
}
.plus-faq {
  right: 0;
  left: unset;
  border-radius: 0 0 size(20);
}
.answer-body {
  padding: size(31) size(55) size(78) size(27);
}
.submit-link-arrow {
  background-image: url("../iconsall/form-submit-ltr.png");
  background-position: calc(100% - 9px) center;
  padding: 10px 100px 10px 60px;
  &:hover {
	background-position: calc(100% - 2px) center;
  }
}
.col-post-slider {
  padding: size(83) 0 size(40) size(40);
}
.put-arrows-here {
  left: unset;
  right: 15px;
}
.tel-wrapper {
  margin-left: 0;
  margin-right: 30px;
}
header {
  .hamburger {
	padding: 0 15px 0 0;
  }
}
.langs-wrap {
  li.active {
	display: none;
  }
  li a {
	&:after {
	  content: '|';
	  right: -1px;
	  left: unset;
	}
  }
  li:nth-child(2) a {
	&:after {
	  content: '';
	}
  }
}
.drop-menu {
  right: unset;
  left: 0;
  ul{
	li {
	  a {
		&:before {
		  left: 0;
		  right: unset;
		  content: url("../iconsall/before-menu.png");
		  transform: scale(-1, -1);
		}
	  }
	}
  }
}
.float-form {
  &.show-float-form {
	right: 3rem;
	left: unset;
	@media (max-width: 576px) {
	  right: 15px;
	}
  }
}
.home-link {
  background-image: url("../iconsall/arrow-white-ltr.png");
  background-position: calc(100% - 10px) center;
  @media (max-width: 1200px) {
	padding: 5px size(70) 5px size(20);
  }
}
.logo-diver-col {
  border-left: none;
  border-right: 1px solid rgba(166, 165, 165, 0.35);
  &:nth-child(3n) {
	border-right: none;
	@media (max-width: 992px) {
	  border-right: 1px solid rgba(166, 165, 165, 0.35);
	}
  }
  @media (max-width: 992px) {
	&:nth-child(2n) {
	  border-right: none;
	}
  }
  @media (max-width: 992px) {
	border-right: none !important;
  }
}
