body {
  text-align: left;
  direction: ltr;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input[type=submit] {
  background-image: url("../iconsall/form-submit-ltr.png");
  padding: 8px 2.6rem 8px 1rem;
  background-position: calc(100% - 7px) center;
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=tel],
div.wpcf7 input[type=email] {
  padding-left: 2.9rem;
  padding-right: 7px;
  background-position: 5px center;
}

.base-link {
  padding: 5px 3rem 5px 1.3rem;
  background-position: calc(100% - 7px) center;
  background-image: url("../iconsall/arrow-right.png");
}

.arrows-slider-base [dir=rtl] .slick-next {
  right: unset;
  left: 0;
}
.arrows-slider-base [dir=rtl] .slick-prev {
  left: 3rem;
  right: unset;
}

.white-link {
  background-image: url("../iconsall/arrow-white-ltr.png");
  background-position: calc(100% - 10px) center;
  padding: 1rem 6.5rem 1rem 5rem;
}
.white-link:hover {
  background-position: calc(100% - 3px) center;
}
@media (max-width: 1600px) {
  .white-link {
    padding: 0.5rem 4rem 0.5rem 2.5rem;
  }
}
@media (max-width: 450px) {
  .white-link {
    padding: 0.5rem 2rem 0.5rem 1rem;
  }
}

.foo-socials .social-link:first-child {
  margin: 0 5px 0 0;
}
.foo-socials .social-link:last-child {
  margin: 0 0 0 5px;
}
.foo-socials .social-link img {
  max-height: 1.85rem;
}

#go-top {
  right: unset;
  left: 6rem;
}
@media (max-width: 576px) {
  #go-top {
    right: 50% !important;
    left: 50% !important;
  }
}

footer li a {
  padding-right: 0;
  padding-left: 15px;
}
footer li a:before {
  right: unset;
  left: 0;
}
footer .contact-list li a svg {
  margin-left: 0;
  margin-right: 0.95rem;
}

.question-header.active-faq .question-title {
  border-radius: 1rem 0;
}
.question-header.active-faq .plus-faq {
  border-radius: 0;
}

.question-title {
  padding: 1rem 4.25rem 1rem 1.45rem;
  text-align: left;
}

.plus-faq {
  right: 0;
  left: unset;
  border-radius: 0 0 1rem;
}

.answer-body {
  padding: 1.55rem 2.75rem 3.9rem 1.35rem;
}

.submit-link-arrow {
  background-image: url("../iconsall/form-submit-ltr.png");
  background-position: calc(100% - 9px) center;
  padding: 10px 100px 10px 60px;
}
.submit-link-arrow:hover {
  background-position: calc(100% - 2px) center;
}

.col-post-slider {
  padding: 4.15rem 0 2rem 2rem;
}

.put-arrows-here {
  left: unset;
  right: 15px;
}

.tel-wrapper {
  margin-left: 0;
  margin-right: 30px;
}

header .hamburger {
  padding: 0 15px 0 0;
}

.langs-wrap li.active {
  display: none;
}
.langs-wrap li a:after {
  content: "|";
  right: -1px;
  left: unset;
}
.langs-wrap li:nth-child(2) a:after {
  content: "";
}

.drop-menu {
  right: unset;
  left: 0;
}
.drop-menu ul li a:before {
  left: 0;
  right: unset;
  content: url("../iconsall/before-menu.png");
  transform: scale(-1, -1);
}

.float-form.show-float-form {
  right: 3rem;
  left: unset;
}
@media (max-width: 576px) {
  .float-form.show-float-form {
    right: 15px;
  }
}

.home-link {
  background-image: url("../iconsall/arrow-white-ltr.png");
  background-position: calc(100% - 10px) center;
}
@media (max-width: 1200px) {
  .home-link {
    padding: 5px 3.5rem 5px 1rem;
  }
}

.logo-diver-col {
  border-left: none;
  border-right: 1px solid rgba(166, 165, 165, 0.35);
}
.logo-diver-col:nth-child(3n) {
  border-right: none;
}
@media (max-width: 992px) {
  .logo-diver-col:nth-child(3n) {
    border-right: 1px solid rgba(166, 165, 165, 0.35);
  }
}
@media (max-width: 992px) {
  .logo-diver-col:nth-child(2n) {
    border-right: none;
  }
}
@media (max-width: 992px) {
  .logo-diver-col {
    border-right: none !important;
  }
}

/*# sourceMappingURL=ltr.css.map */
