@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header";
@import "forms";
@import "partials";
@import "footer";
body{
  font-family: $heebo;
  text-align: right;
}
.container-fluid {
  max-width: 95%;
}
.wow {
  visibility: hidden;
}
//Basic stuff
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	font-weight: 500;
	margin-bottom: 20px;
  }
  h1 {
	@include h1-h2;
  }
  h2 {
	@include h2;
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: size(35);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.page-title {
  @include h1-h2;
  color: $blue-main;
  text-align: center;
  font-weight: 500;
}

.video-home {
  @include d-center;
  position: relative;
  height: 800px;
  overflow-x: hidden;
  overflow-y: hidden;
  video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	z-index: -1;
  }
  &:hover .button-home svg {
	fill: $blue-main;
	transition: fill .5s;
  }
  .triggers-col svg * {
	fill: #ffffff;
  }
}
.video-home-overlay {
  @include overlay;
  background-image: linear-gradient(to bottom, #000000 7%, #000000 8%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.23;
}
.button-home {
  @include overlay;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  transition: opacity .5s;
  &.hide {
	opacity: 0;
	transition: opacity .5s;
  }
  svg {
	//position: absolute;
	//top: 50%;
	z-index: 4;
	width: size(67);
	transition: fill .5s;
  }
}
.logo-about {
  @include d-center;
  img {
	max-height: size(430);
  }
}
.base-link {
  @include d-center;
  height: size(46);
  border-radius: size(23);
  border: 2px solid $blue-main;
  background-color: #ffffff;
  @include base-text;
  text-align: center;
  color: $blue-main;
  background-size: size(32);
  background-position: 7px center;
  background-repeat: no-repeat;
  background-image: url("../iconsall/arrow-left.png");
  padding: 5px size(26) 5px size(60);
  transition: color, background-color ease-out .5s;
  &:hover {
	background-color: $blue-main;
	color: #ffffff;
  }
}
.home-link {
  height: size(77);
  border-radius: size(32);
  border: 2px solid #f8f8f8;
  background-image: url("../iconsall/arrow-white.png");
  background-size: size(54);
  background-position: 10px center;
  padding: 5px size(90);
  background-color: transparent;
  @include h3;
  font-weight: 500;
  color: #ffffff;
  margin-top: 23px;
  @media (max-width: 1600px) {
	@include h4;
	padding: 5px size(70);
	background-size: size(44);
	height: size(57);
	border-radius: size(28);
  }
  @media (max-width: 1200px) {
	@include h5;
	background-size: size(38);
	padding: 5px size(20) 5px size(70);
  }
}
.main-page-title, .main-page-subtitle {
  text-shadow: -1px 4px 42px rgba(0, 0, 0, 0.29);
  color: #ffffff;
  text-align: center;
}
.main-page-title {
  margin-bottom: size(20);
  font-size: size(65);
  line-height: size(60);
  margin-top: 25px;
  @media (max-width: 1600px) {
	font-size: size(50);
	line-height: size(55);
  }
  @media (max-width: 1200px) {
	font-size: size(35);
	line-height: size(40);
  }
}
.main-page-subtitle {
  font-size: size(50);
  line-height: size(55);
  @media (max-width: 1600px) {
	font-size: size(40);
	line-height: size(45);
  }
  @media (max-width: 1200px) {
	font-size: size(30);
	line-height: size(35);
  }
}
.more-link {
  padding: 5px size(57) !important;
  background-image: none !important;
  margin-top: 2rem;
  &.hide {
	display: none;
  }
}
.home-about-block {
  padding: size(100) 0 size(124) 0;
}
//Contact
.map-image {
  @include d-center;
  border-radius: size(30);
  overflow: hidden;
  height: 100%;
  transition: transform ease-out .5s;
  img {
	max-width: unset;
	min-width: 100%;
	min-height: 100%;
  }
  &:hover img {
	transform: scale(1.1, 1.1);
  }
}
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(54);
}
.contact-icon-wrap {
  @include d-center;
  width: size(140);
  height: size(117);
  padding: size(28);
  box-shadow: 0 2px 27px 3px rgba(82, 83, 83, 0.1);
  border-radius: size(30);
  background-color: #ffffff;
  margin-bottom: size(28);
  img {
	max-height: 100%;
  }
}
.contact-info-title {
  @include base-text;
  color: $blue-main;
  margin-bottom: size(10);
  font-weight: 500;
}
.contact-info {
  @include base-text;
  @include d-center;
  color: $text-main;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-main;
  }
}
.contact-info-title, .contact-info {
  text-align: center;
}
//Post
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}
.social-share-link {
  @include d-center;
  margin: 0 9px;
}
.share-item-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
	margin: 0 13px;
  }
}
.share-text {
  @include h5;
  font-weight: 300;
  color: $blue-main !important;
}
//Form page
.form-basic-block {
  border-radius: 20px;
  background-color: #f9f9f9;
  padding: size(59) 10%;
  margin-bottom: 100px;
}
//Shop styles
.woocommerce div.product form.cart div.quantity {
  display: none;
}
.woocommerce-message {
  border-top-color: $blue-main;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
  color: $blue-light;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-top: 3px solid $blue-light;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $blue-main;
  border-radius: size(28);
}
.cart_totals h2, #order_review_heading, .woocommerce-additional-fields h3, .woocommerce-billing-fields h3 {
  @include h3;
  color: $blue-main;
  margin-bottom: 10px;
}
.woocommerce-cart-form {
  margin-bottom: 2rem;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: $blue-main;
}
.woocommerce div.product form.cart .single_add_to_cart_button {
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: size(27);
  padding: size(15) size(30) size(15) size(81);
  margin-top: 8px;
}
.price-total-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.regular-price-title {
  @include h6;
  font-weight: 400;
  color: #000000;
}
.sale-price-title {
  @include h5;
  color: $blue-main;
}
.woocommerce .woocommerce-ordering select, .select-sort {
  -webkit-appearance: none;
  width: size(239);
  height: size(38);
  border-radius: 10px;
  border: 2px solid $blue-main;
  background-color: #ffffff;
  @include base-text;
  color: $blue-main;
  background-image: url("../iconsall/select.png");
  background-size: size(17);
  background-position: size(16) center;
  background-repeat: no-repeat;
  padding: 5px size(16) 5px size(35);
}
.product-col {
  @media (max-width: 1600px) and (min-width: 992px){
	flex: 0 0 50%;
	max-width: 50%;
  }
  @media (max-width: 992px){
	flex: 0 0 100% !important;
	max-width: 100% !important;
  }
}
.product-col:nth-child(4), .product-col:nth-child(5) {
  flex: 0 0 50%;
  max-width: 50%;
}
.product-slider-block {
  margin-top: size(91);
  //.product-slider {
	//padding: 0 25px;
  //}
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  @media (max-width: 576px) {
	[dir="rtl"] .slick-next, [dir="rtl"] .slick-prev {
	  top: calc(100% + 1rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 2rem);
	}
	[dir="rtl"] .slick-next {
	  left: calc(50% - 2rem);
	}
  }
}
//Homepage blog
.home-blog-block {
  position: relative;
  background-color: #f9f9f9;
  padding: size(149) 0;
  overflow: hidden;
}
.blog-container {
  position: absolute;
  right: 0;
  width: 150%;
  height: 100%;
  box-shadow: 0 2px 53px 6px rgba(82, 83, 83, 0.13);
  border-radius: 0 30px 30px 0;
  background-color: #ffffff;
  @media (max-width: 992px) {
	width: 100%;
	border-radius: size(30);
  }
}
.col-post-slider {
  background-color: $blue-main;
  padding: size(83) size(40) size(40) 0;
  height: 100%;
  @media (max-width: 992px) {
	padding: size(83) size(40) !important;
	margin: 0 -15px;
	border-bottom-left-radius: size(30);
	border-bottom-right-radius: size(30);
  }
  .post-item-image {
	margin-bottom: 0;
  }
  @media (max-width: 576px) {
	padding: size(20) !important;
  }
}
.put-arrows-here {
  position: absolute;
  left: 15px;
  bottom: size(76);
  @include d-center;
  .slick-next, .slick-prev {
	position: unset;
	top: unset;
	right: unset;
	left: unset;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(32);
	height: size(32);
	z-index: 33;
	margin: 0 10px;
  }
  .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.inside-text-wrapper {
  padding: size(70);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 1600px) and (min-width: 993px) {
	padding: size(20);
  }
  @media (max-width: 576px) {
	padding: size(60) size(20)
  }
}
//Recovery
.logo-diver-col {
  @include d-center;
  flex-direction: column;
  border-left: 1px solid rgba(166, 165, 165, 0.35);
  border-bottom: 1px solid rgba(166, 165, 165, 0.35);
  padding-top: 15px;
  padding-bottom: 15px;
  &:nth-child(3n) {
	border-left: none;
	@media (max-width: 992px) {
	  border-left: 1px solid rgba(166, 165, 165, 0.35);
	}
  }
  @media (max-width: 992px) {
	&:nth-child(2n) {
	  border-left: none;
	}
  }
  @media (max-width: 992px) {
	border-left: none !important;
  }
}
.logo-item {
  max-height: size(180);
  margin-bottom: size(20);
}

@import "responsive";
